
* {
  margin: 0;
  padding: 0;
}

.headline-container{
  background-image: url(image/images-main/headebg-desktop.svg);
  background-size: cover;
  background-position: bottom left;
}

.headline{
  background-image: url(image/images-main/headershapes-desktop.svg);
  background-size: cover;
  background-position: bottom left;
}

.about {
  background-image: url();
  background-size: cover;
  background-position: top right;
}

footer {
  background-image: url(./image/images-main/background-desktop.svg);
  background-size: cover;
  background-position: top left;
}

.footer-content {
  background-image: url(./image/images-main/background-shapes.svg);
  background-size: cover;
}